.aside
{
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 2;
  width: 17em;
  height: $full-size;
  left: 3em;
  background: $transparent-green;

  &__container{
    @extend %column;
    width: $full-size;
    margin: 2.2em .7em;
  }
}
