.claims-container
{
  @extend %center-column;
}

.boxes-aligned
{
  @extend %row;
}

.claims-item
{
  display: flex;
  justify-content: center;
  border-radius: 3px;
  margin: .3em;
  width: 19em;
  height: 10em;
  background: #ddd;

  &:hover{
    cursor: pointer;
    opacity: .83; 
  }
}

.claim-item-content
{
  margin-top: 4%;
  width: 95%;

  .claims-item-title
  {
    font-size: 1.5em;

  }

  .claims-item-text
  {
    font-size: .9em;
  }
}
