.header-container
{
   @extend %center-row;
   justify-content: space-between;
   width: $full-size;
   padding: .5em 1em;
   background: $clear-grey;

   .logo-extensive
   {
     width: 6.2em;
   }
}
