.header-container
{
   @extend %center-row;
   justify-content: space-between;
   width: $full-size;
   padding: .8em 1em;
   background: $absolute-white;

   .logo-extensive
   {
     width: 6.5em;
   }
}
