.main-menu-container
{
    @extend %center-column;
    color: $clear-grey;
    margin-top: 10%;
    
    .menu-title > h1
    {
        font-size: 1.7em;
        font-weight: 300;
    }
    

    .menu-items
    {
        @extend %center-row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 60%;
        height: 11em;
        margin-top: 1%;
        
        .menu-item-content
        {
            @extend %center-column;
            justify-content: center;
            border-radius: 5px;
            width: 24%;
            height: 100%;
            margin: auto;
            background: $clear-grey;
            &:hover
            {
                background: $absolute-white;
            }

        }
        
        
    }
}