.set-location-box
{
  @extend %center-column;
  width: 30em;
  height: 7em;
  margin-top: 7em;
  background: $absolute-white;
  color: $light-blue;
  border: solid 1px $absolute-white;
  border-radius: 3px;
}


.set-location-container
{
  display: flex;
  flex-direction: column;
  width: 96%;
  margin-top: 3%;
}

.set-location-header
{
  @extend %center-row;

  .radio-location-header
  {
    padding: .2em;
    display: flex;
    align-items: center;
    background: $light-blue;
    border-radius: 50%;
  }

  .location-header-title
  {
    margin-left: 1%;
    font-size: .86em;
  }
}


.set-location-form
{
  @extend %center-row;
  justify-content: space-between;
  width: $full-size;
  margin-top: 2%;
}

.location-form-input
{
  width: 79%;
  border-bottom: solid 1px $medium-blue;
  background: $absolute-white;
  padding: .3em;
}

.location-form-btn
{
  width: 20%;
  color: $absolute-white;
  background: $medium-blue;
  border: 1px solid $medium-blue;
  border-radius: 2px;
  font-weight: 600;
  padding: .3em 0;
}
