.sidebar
{
  position: fixed;
  z-index: 9999;
  height: 100vh;
  width: 3.2em;
  background: $dark-blue;

  &__container{
    @extend %center-column;
    height: $full-size;

    &__item{
      @extend %fully-centralized;
      margin-top: 1.2em;
      width: 1.8em;
      height: 1.8em;
      cursor: pointer;
      border-radius: 50%;
      &:nth-child(6){
        position: absolute;
        bottom: 2%;
      }
    }

    // .--rose  { background: $clear-rose;   }
    // .--green { background: $clear-green;  }
    // .--blue  { background: $clear-blue;   }
    // .--orange{ background: $clear-orange; }
    // .--purple{ background: $clear-purple; }
    // .--grey  { background: $clear-grey;   }

  }
}
