.icon-search
{
  fill: $alpha;
  width: 1.1em;
}

.sidebar-icon
{
  width: 100%;
  fill: #ddd;
}

.contact-icon
{
  width: 3.5em;
  fill: $light-green;
}

.house-icon{
  fill: $clear-blue;
  width: 2.2em;
  display: none;
}
