.icon-menu-item
{
  width: 60px;
  height: 60px;
  fill: $clear-grey;
  margin-top: $menu-item-margin;
}

.menubar-icon
{
  width: 1.6em;
  fill: $dark-blue;
  cursor: pointer;
}

.location-header-icon
{
  fill: $clear-grey;
  width: .8em;
}
