
.news
{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    // margin: 2.2em 0 0 22em;

    &__title{
      font-size: $long-title;
      color: $medium-blue;
    }

    &__banner{
      position: relative;
      margin-top: 1%;
      background: url('../../../static/news_bg.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 10em;
      border-radius: 3px;

      .--title{
        position: absolute;
        bottom: 3%;
        left: 3%;
        font-size: $long-title - .2em;
        text-shadow: 0 0 8px $alpha;
        color: $absolute-white;
      }
    }

    &__content{
      width: 100%;
      margin-top: 1%;

      .__subContainer{
        &:nth-child(1){ margin-top: 0 }
        @extend %row;
        height: 9em;
        margin-top: 3%;

        &__img{
          margin-top: 1%;
          background: $medium-grey;
          width: 13em;
          height: 8em;
        }

        &__news{
          margin-left: 1.5%;
          width: $full-size;
          &--title{
            color: $medium-blue;
          }
          &--text{
            color: $alpha;
            font-size: .9em;
            margin-top: .5%;

            .show-more
            {
              color: $clear-blue;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
