// @media (max-width: 1280px){
//
//   .news{
//     width: $full-size;
//     height: 100vh;
//
//     &__container{
//       height: 100vh;
//
//       &__banner{
//         width: $full-size;
//       }
//
//       &__content{
//         width: $full-size;
//         height: $full-size;
//
//         .__subContainer{
//           height: 10em;
//           margin-top: 7%;
//         }
//       }
//     }
//   }
// }
//
@media(max-width: 1024px){
  .contact{
    .contact__container{
      width: $full-size - 38%;
    }
  }
}

@media(max-width: 720px){
  .contact{
    .contact__container{
      width: $full-size - 20%;
    }
  }

  .news{
    .news__container{
      margin-left: 8%;
      margin-top: 10%;
      width: 90%;
      .news__container__content{
        .__subContainer{
          height: 7em;
          padding: .5em 0;
        }
      }
    }
  }
}

@media (max-width: 430px){
  .sidebar
  {
    position: fixed;
    height: 3.3em;
    width: $full-size;
    bottom: 0;
    &__container{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      &__item{
        margin-top: 0;
        width: 1.8em;
        height: 1.8em;
      }
    }
  }

  .map-container
  {
    .search { display: none }
  }

  .contact
  {
    .contact__container{
      width: $full-size - 3%;

      .contact__container__title { margin-top: -10% }

      .contact__container__options
      {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .--item
        {
          margin: 1% 0;
          width: 80%;
          border-radius: 5px;
        }
      }

      .contact__container__form
      {
        display: none;
      }
    }
  }


.news-page{
  width: $full-size;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .add-new
  {
    background: $light-green;
    color: $absolute-white;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
    margin-top: 2.5%;
    padding: .7em 1.6em;
  }
}

  .news
  {
    width: $full-size;
    height: $full-size;
    align-items: flex-start;

    .news__container{
      margin-left: 0;
      margin-top: 2%;
      width: 95%;

      &__title{ display: none }
      &__banner{
        position: relative;
        margin: 0%;
         width: $full-size;
        height: 8em;
        .--title { font-size:1.2em }
      }

      &__content{
        width: $full-size;
        margin-top: 5%;

        .__subContainer{
          &:nth-child(1){ margin-top: 0 }
          margin-top: 3%;
          // height: 6em;
          // background: blue;

          &__img{
            margin-top: 1%;
            width: 6.6em;
            height: 6em;
          }

          &__news{
            margin-left: 1.5%;
            width: $full-size;
            &--title{
              font-size: 1.1em;
            }
            &--text{
              color: $alpha;
              font-size: .9em;
              margin-top: .5%;
            }
          }
        }
      }
    }
  }


}
