//colors
$dark-blue: #031621;
$medium-blue: #3d7cba;
$absolute-white: #fff;
$transparent-green: rgba(1, 133, 89, .9);
$alpha: rgba(0, 0, 0, .5);
$medium-grey: #dbdbdb;
$light-green: #00c98d;

$clear-rose: #c43957;
$clear-green: #557a43;
$clear-blue: #0084b0;
$clear-orange: #b58635;
$clear-purple: #a039ad;
$clear-grey: #b2b6b8;

//sizes
$full-size: 100%;
$menu-item-margin: .5em;
$calc-page: calc(95% - 15em);
$long-title: 2.1em;
