//colors
$dark-blue:#031621;
$absolute-white: #fff;

$clear-rose: #c43957;
$clear-green: #557a43;
$clear-blue: #0084b0;
$clear-orange: #b58635;
$clear-purple: #a039ad;
$clear-grey: #b2b6b8;

//sizes
$full-size: 100%;
$menu-item-margin: .5em;
