//Utilities
@import 'app/_utilities/variables';
@import 'app/_utilities/placeholders';

//UI
@import 'app/UI/icons';

//Components
@import 'app/MainComponents/Components/sidebar';
@import 'app/MainComponents/Components/aside';
@import 'app/MainComponents/Components/contact';
//Pages
@import 'app/MainComponents/Pages/home';
@import 'app/MainComponents/Pages/news';

*
{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}
