*
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}


//Utilities
@import 'app/_utilities/variables';
@import 'app/_utilities/placeholders';

//UI
@import 'app/UI/icons';

//Components
@import 'app/MainComponents/Components/header';
@import 'app/MainComponents/Components/main-menu';
@import 'app/MainComponents/Components/set-location-box';
@import 'app/MainComponents/Components/claims';

//Pages
@import 'app/MainComponents/Pages/home';
